<% @title = "Rename #{@project.project_name} - MultiMeet" %>
<%= render 'layouts/navbar' %>
<%= render 'layouts/alerts' %>

<div class="user-container">

  <%= form_for(@project) do |f| %>
    <div class="jumbotron shadow white-bg">
      <h2>Renaming Project</h2>
      <%= f.text_field :project_name, placeholder: "New Project Name", class: "form-control"%>
    </div>

    <div class="actions jumbotron shadow white-bg">
      <%= f.submit "Confirm Renaming", class:"btn btn-primary"  %>
      <%= link_to 'Cancel', project_path(@project), class:"btn btn-secondary" %>
    </div>
  <% end %>

</div>
